{% extends "base.html" %}
{% block content %}

<div class="container">

    <br>
    <br>

    <div class="row">
        <div class="col-12">
            <div class="card shadow my-3 mx-2 p-3">
                {{post.user}}
                <br>
                {{post.title}}
                <br>
                {{post.category}}
                <br>
                {{post.date}}
                <br>
                {{post.user.first_name}}
            </div>
        </div>
    </div>
    <br>
    {% if request.user|lower == post.user|lower %}
    <div class="row">
        <div class="col-12 text-center mx-auto">
            <a href="{% url 'update_post' post.id %}" class="btn btn-success">Update</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 text-center mx-auto">
            <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}